@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200;300;400;500&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Barlow Semi Condensed";
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EDF2F8;
  height: 100vh;
}

.box1 {
  grid-area: box1;
}
.box2 {
  grid-area: box2;
}
.box3 {
  grid-area: box3;
}
.box4 {
  grid-area: box4;
}
.box5 {
  grid-area: box5;
}

.container {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); Create a 3-column grid
  grid-template-rows: repeat(2, 1fr); Create a 2-row grid */
  grid-template-areas:
    "box1 box1 box1 box1 box2 box5"
    "box3 box4 box4 box4 box4 box5";
  gap: 25px;
  width: 70%;
  height: auto; /*Full viewport height*/
  align-items: center; /* Center items vertically */
  justify-items: center; /* Center items horizontally */
}

.quotation {
  max-width: 40%;
  /* height: 500px; */
  position: absolute;
  top: 0;
  right: 30px;
  z-index: -1;
}

.AvatarHeader {
  display: flex;
  align-items: center;
  gap: 30px;
}

.AvatarHeader img {
  width: 10%;
  border-radius: 100%;
  border: 2px solid #a574e9;
}

.box{
  padding: 20px;
  font-size: 10px;
  color: #fff;
  height: 100%;
  border-radius: 10px;
}

.box1 {
  position: relative;
  background-color: #733fc8;
  color: #fff;
  z-index: 0;
}

.box2 {
  background-color: #49556B;
}

.box3 {

}

.box4 {
  background-color: #18202D;
}

.box5{

}

.white{
  background-color: #fff;
  color: #4C5467;
}

.white p {
  color: #80878F;
}

p {
  letter-spacing: 1px;
}
