@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200;300;400;500&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Barlow Semi Condensed";
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #edf2f8;
  height: 100vh;
}

.box1 {
  grid-area: box1;
}
.box2 {
  grid-area: box2;
}
.box3 {
  grid-area: box3;
}
.box4 {
  grid-area: box4;
}
.box5 {
  grid-area: box5;
}

.container {
  display: grid;
  grid-template-areas:
    "box1 box1 box1 box1 box2 box5"
    "box3 box4 box4 box4 box4 box5";
  gap: 25px;
  width: 90%;
  height: 600px;
  align-items: center;
  justify-items: center;
}

.quotation {
  max-width: 40%;
  /* height: 500px; */
  position: absolute;
  top: 0;
  right: 80px;
  z-index: -1;
}

.AvatarHeader {
  display: flex;
  align-items: center;
  gap: 30px;
}

/* .AvatarHeader img{
  border-radius: 100%;
  width: 10%;

} */

.imgBox {
  border-radius: 100%;
}

.imgBox img {
  width: 60%;
  border-radius: 100%;
}

.borderImg {
  border: 2px solid #a574e9;
}

.box {
  padding: 25px;
  font-size: 10px;
  color: #fff;
  height: 100%;
  border-radius: 10px;
}

.box1 {
  position: relative;
  background-color: #733fc8;
  color: #fff;
  z-index: 0;
}

.box2 {
  background-color: #49556b;
}

.box3 {
}

.box4 {
  background-color: #18202d;
}

.box5 {
  /* grid-row: 4 / 1; */
}

.white {
  background-color: #fff;
  color: #4c5467;
}

.white p {
  color: #80878f;
}

h4 {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
}
span {
  font-size: 14px;
}

h3 {
  font-size: 20px;
  font-weight: 500;
}
p {
  letter-spacing: 1px;
  font-size: 14px;
  color: #b0b3b8;
}
