@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200;300;400;500&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Barlow Semi Condensed";
}

.container {
  padding: 40px;
  background-color: #733fc8;
  color: #fff;
  border-radius: 10px;
  position: relative;
  z-index: 0;
}

.quotation {
  position: absolute;
  top: 0;
  right: 30px;
  z-index: -1;
  max-width: 40%;
  width: 40%;
}

h1 {
  letter-spacing: 1px;
}

.img {
  border-radius: 100%;
  border: 4px solid #a574e9;
}

.AvatarHeader {
  display: flex;
  align-items: center;
  gap: 30px;
}

.quotation {
  max-width: 50%;
  width: 50%;
  border: 2px solid red;
}
.imgSide h4 {
  margin: 0;
  margin-bottom: 5px;
}

p {
  color: #b69cdb;
  font-size: 20px;
  letter-spacing: 1px;
}
